header {
    font-size: 13px;
    color: gray;
    top: 10px;
    right: 10px;
    background-color: #AAC3BE;
    padding: 10px;
}

footer {
    font-size: 80%;
    border-top: 1px solid #666;
    color: gray;
    text-align: right;
    font-family: monospace;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.main-title {
    display: block;
    color: #2d3c49;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-footer {
    color: #999;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
}

.post-content {
    margin-top: 5px;
}

.comments-heading {
    font-size: 18px;
    font-weight: bold;
}
