<!DOCTYPE html>
<html lang="en">
<head>
	<!-- use utf-8 character set -->
	<meta charset="utf-8">
	<!-- add a meta header so that it compatible with all browsers
        the following value to display the webpage in edge mode,
	which is the highest standards mode supported by Internet Explorer -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- use viewport width as per device width (phone, table, browser) -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- link to predefined stylesheet of 'bootstrap' framework stylesheet -->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">

	<!-- link to personal stylesheet -->
	<link type="text/css" rel="stylesheet" href="/static/main.css" />

	<title>Write Here!</title>
</head>

<body>
	<!-- bootstrap required everything in a container -->
	<div class="container">
		<header>
			<div class="row">
				<div class="col-md-6">
					<a href="/writehere">Home</a>
					{% if user %}
						| <a href="/writehere/newpost">New post</a>
					{% endif %}
				</div>

				<div class="col-md-6 login-area text-right">
				{% if user %}
					<a href="/writehere/user/{{user.name}}">
					  {{user.name}}
					</a>
					(<a class="login-link" href="/logout">Logout</a>)
				{% else %}
			      		<a class="login-link" href="/login">Login</a>
			      		|
			      		<a class="login-link" href="/signup">Signup</a>
				</div>
			    	{% endif %}
			</div>
		</header>

		<div class="row">
			<div class="col-md-12 main-title">
				<a href="/writehere" class="main-title">
		    		Write Here! 
		  		</a>
			</div>
		</div>

		<div class="row" id="content">
			{% block content %}
			{% endblock %}
		</div>

		<footer>
			<div class="row">
				<div class="col-md-6 text-right">
					<p><a href="http://css-validator.org/check/referer">
						<img src="http://css-validator.org/images/vcss.png"
							alt="Valid CSS!" /></a>
					</p>
				</div>
			</div>
 		</footer>
	</div>
</body>

</html>
