<div class="comment">
  <div class="comment-date">
    <span title="{{c.created.strftime('%Y-%m-%d %H:%M:%S')}}">
      {{c.created.strftime("%b %d, %Y")}}
    </span>
    by
    <a href="/writehere/user/{{c.author.name}}">
      {{c.author.name}}
    </a>
  </div>

  <div class="comment-text">
    {{c._render_text | clean(tags=['img', 'b', 'i', 'em', 'strong', 'br'], attributes={'img': ['src', 'alt', 'title', 'width', 'height']})}}
  </div>

  {% if logged_in_user and logged_in_user.name == c.author.name %}
  <form method="post" action="/writehere/comment/{{c.key().id()}}/delete">
    <div class="form-group">
      <button class="btn btn-danger">Delete Comment</button>
    </div>
  </form>
  {% endif %}
</div>

