{% extends "base.html" %}

{% block content %}
<h2>Editing comment on post titled "{{post_subject}}"</h2>

<form method="post">
  <div class="form-group">
    <label for="content">Comment Text</label>
    <textarea name="content">{{comment_text}}</textarea>
  </div>

  <div class="form-group">
    <label class="col-md-12 error text-center">{{comment_error}}</label>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" name="post_action" value="update_comment">Update Comment</button>
    <button class="btn btn-warning" name="post_action" value="cancel_update">Cancel Update</button>
  </div>
</form>
{% endblock %}
