{% extends "base.html" %}

{% block content %}
	<div class="col-md-12 text-center">
  		<h2>New post</h2>
	</div>

	<form method="post">
		<div class="row">
			<div class="col-md-12 text-center">
			<label>
			Subject
			<input type="text" name="subject" value="{{subject}}">
			</label>

			<label>
		</div>

		<div class="row">
			<div class="col-md-12 text-center">
			<label>
			Blog
			<textarea name="content">
				{{content}}
			</textarea>
			</label>

			<div class="col-md-12 text-center">
				{{error}}
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 text-center">
				<input type="submit">
			</div>
		</div>
	</form>
{% endblock %}
