<div class="post">
  <div class="post-heading">
    <div class="post-title">
      <a href="/writehere/post/{{p.key().id()}}">{{p.subject}}</a>
    </div>

    <div class="post-date">
      <span title="{{p.created.strftime('%Y-%m-%d %H:%M:%S')}}">
	{{p.created.strftime("%b %d, %Y")}}
      </span>
      by
      <a href="/writehere/user/{{p.author.name}}">
	{{p.author.name}}
      </a>
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | clean(tags=['img', 'b', 'i', 'em', 'strong', 'br'], attributes={'img': ['src', 'alt', 'title', 'width', 'height']})}}
  </div>

  <div class="post-footer">
    {{ nlikers }} likes, {{ ndislikers }} dislikes, {{ ncomments }} comments
  </div>
</div>

